@import "tailwindcss";

@layer base {
  body {
    background-color: #060913;
    color: #e2e8f0;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #090e1c;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

/* Print Stylesheet for Payslips & Incident Logs */
@media print {
  body {
    background: white !important;
    color: black !important;
  }
  nav, .no-print {
    display: none !important;
  }
  .print-area {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
